*{margin: 0;
    padding: 0;
box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.main{
    width: 100%;
    height: 100%;
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box1{
    width: 80%;
    height: 90%;
    background-color: azure;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     border-radius: 70%;
    
}
.box2{
    width: 40%;
    height: 50%;
    background-color: bisque;
    border-radius: 70%;
}
button{ margin-top: 50px;
    width: 90px;
    height: 50px;
    border-radius: 20px;
    border: none;
}